<div id="<%= dom_id game %>">
  <p>
    <strong>Format:</strong>
    <%= game.format_id %>
  </p>

  <p>
    <strong>Set:</strong>
    <%= game.magic_set_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= game.player_id %>
  </p>

  <p>
    <strong>Opponent:</strong>
    <%= game.opponent_id %>
  </p>

  <p>
    <strong>Commander:</strong>
    <%= game.commander_id %>
  </p>

  <p>
    <strong>Opposing commander:</strong>
    <%= game.opposing_commander_id %>
  </p>

  <p>
    <strong>Mulls:</strong>
    <%= game.mulls %>
  </p>

  <p>
    <strong>Opponentmulls:</strong>
    <%= game.opponent_mulls %>
  </p>

  <p>
    <strong>Win:</strong>
    <%= game.win %>
  </p>

  <p>
    <strong>First:</strong>
    <%= game.first %>
  </p>

  <p>
    <strong>Deck:</strong>
    <%= game.deck_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= game.notes %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
</div>
